header{
    background-color: rgb(62, 185, 144);
    text-align: center;
    padding: 25px;
    width: 100%;
}

header>h1{
    font-size: 45px;
    color: white;
    text-shadow: 1px 1px 1px rgb(121, 120, 120);
}

form{
    font-size: 15px;
    font-weight: 600;
    color: rgb(97, 96, 96);
    text-shadow: 1px 1px 1px rgb(212, 212, 212);
    width: 100%;
}

form>label{
    margin-left: 13.5%;
    margin-right: 150px;
}

input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 235px;
    margin-right: 250px;
    margin-left: 135px;
}

select{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 235px;
    margin-right: 200px;
}

button{
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 10px;
    color: white;
    text-shadow: 1px 1px 1px grey;
    background-color: rgb(62, 185, 144);
    font-size: 20px;
    font-weight: 600;
    border: none;
    box-shadow: 1px 1px 1px rgb(71, 71, 71);
    margin-left: 35.5%;
    margin-top: 70px;
    cursor: pointer;
}

button:hover{
    background-color: white;
    color: rgb(84, 214, 171);
    transition-duration: 0.5s;
}

aside{
    background-color: rgb(62, 185, 144);
    font-size: 15px;
    border: none;
    padding: 10px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px grey;
    font-weight: 600;
    width: 100%;
}

#resultado{
    text-align: center;
    margin-top: 60px;
    font-size: 45px;
    color: rgb(46, 151, 116);
    text-shadow: 1px 1px 1px grey;
}