*{
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0px;
    box-sizing: border-box ;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(243, 243, 242);
}